# macOS
.DS_Store

# Xcode
DerivedData/
build/
*.xcuserstate
*.xcscmblueprint

# User-specific Xcode files
xcuserdata/
*.xcuserdatad
*.xccheckout

# Swift Package Manager
.swiftpm/
.build/

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output/

# App archives
*.xcarchive

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# Secrets
.env
*.pem
*.p12
*.mobileprovision
*.cer
*.key
